# Currently section – music & reading states + ai mood definer
SPOTIFY_REFRESH_TOKEN=""
SPOTIFY_CLIENT_SECRET=""
SPOTIFY_CLIENT_ID=""

# Currently section – live heart rate from Google Health API
GHEALTH_CLIENT_ID=""
GHEALTH_CLIENT_SECRET=""
GHEALTH_REFRESH_TOKEN=""
LITERAL_USER_PASSWORD=""
LITERAL_USER_EMAIL=""
ANTHROPIC_API_KEY=""
REDIS_URL=""


# POSTGRES DB – HOSTED ON VERCEL, for the guestbook
POSTGRES_DATABASE=""
POSTGRES_HOST=""
POSTGRES_PASSWORD=""
POSTGRES_PRISMA_URL=""
POSTGRES_URL=""
POSTGRES_URL_NON_POOLING=""
POSTGRES_URL_NO_SSL=""
POSTGRES_USER=""
