.note {
  z-index: 10;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0.3400000035762787px 0.3400000035762787px 0.3400000035762787px
      #1d2d5233,
    0 0 0.3400000035762787px 0.3400000035762787px #1e2d520f;
  border-radius: 8px;
  backdrop-blur: 6px;
  max-width: 200px;
  /* background-color: #0a4a31; */
}

.polaroid {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.2),
    0 16px 32px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background-color: #0a4a31;
  margin-top: 40px;
}
