html {
  min-width: 360px;
  scroll-behavior: smooth;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/inter-var-latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

::-moz-selection {
  /* Code for Firefox */
  color: #f9fafb;
  background: #14b8a6;
}

::selection {
  color: #f9fafb;
  background: #14b8a6;
}