/* ↓ targets the intermediary wrapper */
.withSidebar > * {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
}

.withSidebar > * > * {
  /* ↓ applies to both elements */
  margin: 0.5rem;
}

.sidebar {
  flex-basis: 10rem;
  flex-grow: 1;
  justify-content: flex-end;
}

.notSidebar {
  /* ↓ grow from nothing */
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(50% - 1rem);
}

@media (max-width: 768px) {
  .withSidebar > * {
    display: block;
  }

  .sidebar { 
    justify-content: space-between;
  }
}