.grid {
  display: grid;
  grid-template-columns: 1fr min(60ch, calc(100% - 64px)) 1fr;
  grid-column-gap: 32px;
  /* grid-template-areas: "nav main ."; */
}

.grid > * {
  grid-column: 2;
}

.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}

/* @media screen and (min-width: 48em) {
  .grid {
    display: block;
  }
  
  .main, .nav {
    padding-left: 24px;
    padding-right: 24px;
  }
   */
/* } */

/* ↓ targets the intermediary wrapper */
/* .withSidebar > * {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
} */

/* ↓ applies to both elements */
/* .withSidebar > * > * {
  margin: 0.5rem;
} */

/* .sidebar {
  flex-basis: 10rem;
  flex-grow: 1;
  justify-content: flex-end;
} */

/* ↓ grow from nothing */
/* .notSidebar {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(50% - 1rem);
}

@media (max-width: 768px) {
  .withSidebar > * {
    display: block;
  }

  .sidebar { 
    justify-content: space-between;
  }
} */
