@media screen and (max-width: 1050px) {
  body {
    overflow: visible !important;
  }
  .container {
    height: auto !important;
  }
  .content-container {
    display: inline !important;
  }
  .content-group {
    width: 100% !important;
  }
  .left-side {
    padding: 40px 50px 0px 50px !important;
  }
  .right-side {
    padding: 0px 50px 40px 50px !important;
    text-align: left !important;
  }
}

@media screen and (max-width: 750px) {
  body {
    overflow: visible !important;
  }
  .container .content-container {
    display: inline !important;
  }
  .title {
    font-size: 1.9rem !important;
  }
  .hide {
    display: block !important;
    margin-bottom: 34px;
  }
}

.hide {
  display: none;
}

body, html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  -webkit-animation: fadein ease-in-out 700ms;
  /* Safari, Chrome and Opera > 12.1 */
  /* Firefox < 16 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  animation: fadein ease-in-out 700ms;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
}

h1, h2, p, h5 {
  margin: 0;
}

::-moz-selection {
  background: #8E66EE;
  color: #ffffff;
}

::selection {
  background: #8E66EE;
  color: #ffffff;
}

::-moz-selection {
  background: #8E66EE;
  color: #ffffff;
}

.padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

.purple {
  color: #8E66EE;
}

.text-grey {
  color: #637381;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.inline {
  display: inline;
  margin-left: 10px;
}

.link {
  -webkit-transition: 150ms all;
  transition: 150ms all;
}

.link:hover {
  color: #8E66EE;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.container {
  background-color: #0D1013;
  width: 99vw;
  height: 98vh;
  color: #ffffff;
  margin: 0 auto;
}

.container .content-container {
  height: inherit;
  padding: 0 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.divider {
  border: 1px solid #ffffff;
  width: 10rem;
  margin-top: 40px;
}

.header {
  margin-bottom: 34px;
}

.header .title {
  font-family: "Prata", serif;
  font-weight: normal;
  font-size: 3em;
  line-height: 49px;
  margin-bottom: 8px;
}

.header .subtitle {
  font-weight: 200;
  font-size: 24px;
  line-height: 29px;
}

.content .content-group {
  margin-bottom: 50px;
  width: 50%;
}

.content .content-group .content-title {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 17px;
  letter-spacing: 0.5px;
  /* identical to box height */
  text-transform: uppercase;
}

.content .content-group .content-subtext {
  font-weight: 200;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.9;
}

.right-side {
  text-align: right;
}

.current-item .current-item-title {
  font-weight: 500;
  text-transform: uppercase;
  margin-left: 5px;
}

.current-item p {
  font-weight: 200;
}

.inline {
  font-size: 0.9rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 16px 0;
}

.socials {
  font-size: 1.3rem;
  margin-top: 42px;
}

.underline {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: #ffffff;
  padding: 0 1px;
  -webkit-transition: color ease 0.3s;
  transition: color ease 0.3s;
  cursor: pointer;
}

.underline::before, .underline::after {
  content: '';
  position: absolute;
  background-color: #8E66EE;
  z-index: -1;
  height: 5%;
}

.underline::before {
  width: 0%;
  left: 0;
  bottom: 0;
  -webkit-transition: width ease 0.4s;
  transition: width ease 0.4s;
}

.underline::after {
  width: 100%;
  left: 0;
  bottom: 0;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.underline:hover {
  color: #8E66EE;
}

.underline:hover::before {
  width: 100%;
}

.underline:hover::after {
  left: 100%;
  width: 0%;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=styles.css.map */