@media screen and (max-width: 950px) {
  .container {
    width: 90vw !important;
  }
  .grid-two {
    display: inline !important;
  }
  body {
    overflow: visible !important;
  }
}

@media screen and (max-width: 750px) {
  body {
    overflow: visible !important;
  }
  #about {
    height: auto !important;
    padding-bottom: 30px;
    padding-top: 30px !important;
  }
  .container {
    width: 90vw !important;
  }
  .grid {
    display: inline !important;
  }
  .grid-two {
    display: inline !important;
  }
  .card {
    border-bottom: 2px solid #8E66EE !important;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .last {
    margin-bottom: 50px;
  }
  .gallery, .content {
    text-align: left !important;
  }
  .gallery .divider, .content .divider {
    margin: 0;
  }
  .gallery .photo, .content .photo {
    margin-bottom: 10px;
  }
  .hide {
    display: none;
  }
  .btn {
    width: 30% !important;
  }
  #footer {
    padding: 50px 0 !important;
    line-height: 2  !important;
  }
  #footer p, #footer .icons {
    text-align: center !important;
    margin: 0 auto !important;
  }
}

body, html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  height: 100%;
  font-family: 'Ruda', 'Arial', sans-serif;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  /* Firefox < 16 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  animation: fadein 2s;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
}

::-moz-selection {
  background: #8E66EE;
  color: #ffffff;
}

::selection {
  background: #8E66EE;
  color: #ffffff;
}

::-moz-selection {
  background: #8E66EE;
  color: #ffffff;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

.padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

.title h1 {
  font-size: 3rem;
}

.title p {
  font-size: 1.2rem;
  color: #637381;
}

.purple {
  color: #8E66EE;
}

.text-grey {
  color: #637381;
}

.small {
  margin-top: -10px;
  font-size: 12px;
  line-height: 0.5;
}

.paragraph {
  margin: 40px 0;
  line-height: 1.4;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.inline, #footer li {
  display: inline;
  margin-left: 10px;
}

.link {
  text-decoration: underline;
  -webkit-transition: 150ms all;
  transition: 150ms all;
}

.link:hover {
  color: #8E66EE;
}

.photo {
  width: 100%;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
}

.btn {
  font: inherit;
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #8E66EE;
  background-color: #8E66EE;
  padding: 3px;
  border-radius: 3px;
  width: 15%;
  margin: 0 auto;
  -webkit-transition: 150ms all;
  transition: 150ms all;
}

.btn:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #8E66EE;
}

.txt-sm {
  font-size: 0.7rem;
}

.card {
  border: 2px solid #8E66EE;
  border-radius: 5px;
  min-height: 40vh;
  padding: 10px 30px;
  -webkit-box-shadow: 0 -2px 5px 0 rgba(0, 20, 40, 0.2);
          box-shadow: 0 -2px 5px 0 rgba(0, 20, 40, 0.2);
}

.divider {
  width: 10%;
  height: 2px;
  background-color: #8E66EE;
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 88%;
  height: auto;
}

#about .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

#about .about-img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

#about h1 {
  font-size: 2rem;
}

.feats {
  font-size: 0.7rem;
  margin: 0;
}

#footer {
  padding-top: 5px;
  margin-top: 20px;
  font-size: 0.8rem;
  background-color: #F7F8FF;
  width: 100%;
  color: #8E66EE;
  line-height: 7vh;
}

#footer .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 20px;
}

.icons span {
  margin-right: 7px;
  color: #637381;
  -webkit-transition: 150ms all;
  transition: 150ms all;
}

.icons span:hover {
  color: #8E66EE;
}

.grid-two {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.photos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 7px;
  width: 100%;
  margin: 0 auto;
  margin-top: 12px;
}

.photos .photo {
  -webkit-transition: 150ms all;
  transition: 150ms all;
}

.photos .photo:hover {
  opacity: 0.5;
}

.cta-photo {
  font-size: 0.8em;
  padding-top: 10px;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */