$text-purple: #8E66EE;
$text-grey: #637381;
$white: #ffffff;
$light-grey: #F7F8FF;
$transition: 150ms all;


body, html {
    margin: 0;
    height: 100%;
    font-family: 'Roboto', 'Arial', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.title {
    h1 {
        font-size: 3rem;
    }
    p {
        font-size: 1.2rem;
        color: $text-grey;
    }
}

.purple {
    color: $text-purple;
}


// Other 
.btn {
    border: 2px solid $white;
    background-color: none;
    padding: 10px;
    border-radius: 3px;
    width: 20%;
    margin: 0 auto;
    transition: $transition;
    &:hover {
        background-color: $white;
        color: $text-purple;
    }
}

.container {
    width: 70vw;
    margin: 0 auto;
}

.padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

.divider {
    width: 10%;
    height: 2px;
    background-color: $text-purple;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
}

// NAVIGATION BAR

#navbar {
    overflow: hidden;
    height: 10vh;
    width: 100%;
    position: absolute;
}

.nav {
    line-height: 5vh;
    color: $text-grey;
    .item {
        float: right;
        margin-left: 5vw;
        min-width: 30px;
        transition: 0.2s all;
        // text-transform: uppercase;
        &:hover {
            color: $text-purple;
        }
    }
}

// HEADER CONTENT

#header {
    display: flex;
    align-items: center;
    height: 100vh;
}

// ABOUT CONTENT
#about {
    @extend .padding;
}

#now {
    @extend .padding;
    background-color: $light-grey;
}


// CALL TO ACTION

#cta {
    @extend .padding;
    display: flex;
    align-items: center;
    height: 30vh;
    color: $white;
    text-align: center;
    background-image: linear-gradient(-142deg, #CB44EB 0%, #2F9BF2 100%);
}

// FOOTER CONTENT 
#footer {
    padding-top:10px;
    height: 15vh;
    background-color: $light-grey;
    width: 100%;
    color: $text-purple;
    text-align: center;
    line-height: 8.5vh;   
}