$black: #0D1013;
$text-purple: #8E66EE;
$secondary: #2F9BF2;
$text-grey: #637381;
$white: #ffffff;
$yellow-white: #e8e4d4;
$light-grey: #F7F8FF;
$transition: 150ms all;

@media screen and (max-width: 1050px) {

    body {
        overflow: visible !important;
    }


    .container {
        height: auto !important;
    }
    .content-container {
        display: inline !important;
    }

    .content-group {
        width: 100% !important;
    }
    .left-side {
        padding: 40px 50px 0px 50px !important;
    }

    .right-side {
        padding: 0px 50px 40px 50px !important;
        text-align: left !important;
    }


}



@media screen and (max-width: 750px) {
    body {
        overflow: visible !important;
    }

    .container {
        .content-container {
            display: inline !important;
        }
    }

    .title {
        font-size: 1.9rem !important;
    }


    .hide {
        display: block !important;
        margin-bottom: 34px;
    }

}

.hide {
    display: none;
}

// Resets

body, html {
    box-sizing: border-box;
    margin: 0;
    // height: 100%;
    font-family: 'Inter', 'Arial', sans-serif;
    // overflow: hidden;
    -webkit-animation: fadein ease-in-out 700ms; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein ease-in-out 700ms; /* Firefox < 16 */
    -ms-animation: fadein ease-in-out 700ms; /* Internet Explorer */
        -o-animation: fadein ease-in-out 700ms; /* Opera < 12.1 */
        animation: fadein ease-in-out 700ms;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding-left: 0;
}

h1, h2, p, h5 {
    margin: 0;
}

::selection {
    background: $text-purple;
    color: $white;
}

::-moz-selection {
    background: $text-purple;
    color: $white;
}


// Custom Standards

.padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

.purple {
    color: $text-purple;
}

.text-grey {
    color: $text-grey;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.inline {
    display: inline;
    margin-left: 10px;
}

.link {
    transition: $transition;
    &:hover {
        color: $text-purple;
    }
}



#main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
    // min-height: 100vh;
}

.container {
    background-color: $black;
    width: 99vw;
    height: 98vh;
    color: $white;
    margin: 0 auto;
    
    .content-container {
        height: inherit;
        padding: 0 125px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // flex-direction: column;
    }
}

.divider {
    border: 1px solid $white;
    width: 10rem;
    margin-top: 40px;
}

// TEXT // 

.header {
    margin-bottom: 34px;
    .title {
        // color: $yellow-white;
        font-family: "Prata", serif;
        font-weight: normal;
        font-size: 3em;
        line-height: 49px;
        margin-bottom: 8px;
    }

    .subtitle {
        font-weight: 200;
        font-size: 24px;
        line-height: 29px;
    }
}

.content {
    .content-group {
        margin-bottom: 50px;
        width: 50%;
        
        .content-title {
            font-weight: 600;
            font-size: 14px;
            margin-bottom: 17px;
            letter-spacing: 0.5px;
            /* identical to box height */
            text-transform: uppercase;
            // color: $yellow-white;
        }

        .content-subtext {
            font-weight: 200;
            font-size: 18px;
            line-height: 24px;
            opacity: 0.9;
        }
    }
}


.right-side {
    text-align: right;
}

.current-item {
    .current-item-title {
        font-weight: 500;
        text-transform: uppercase;
        margin-left: 5px;
        
    }
    p {
        font-weight: 200;
    }
}

.inline {
    font-size: 0.9rem;
    display: inline-flex;
    margin: 16px 0;
}

.socials {
    font-size: 1.3rem;
    margin-top: 42px;
}


.underline {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color:$white;
  padding: 0 1px;
  transition: color ease 0.3s;
  cursor: pointer;
  
  &::before, &::after {
    content: '';
    position: absolute;
    background-color: $text-purple;
    z-index: -1;
    height: 5%;
  }
  
  &::before {
    width: 0%;
    left: 0;
    bottom: 0;
    transition: width ease 0.4s;
  }
  
  &::after {
    width: 100%;
    left: 0;
    bottom: 0;
    transition: all ease 0.6s;
  }
  
  &:hover {
      color: $text-purple;

    &::before {
      width: 100%;
    }
    
    &::after {
      left: 100%;
      width: 0%;
      transition: all ease 0.2s;
    }
  }
  
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}